.market-header {
  .wrap {
    p,
    h2 {
      margin: 0;
      font-family: "Poppins", sans-serif;
    }
    .hero-image {
      background: #212c7c;
      @media (min-width: $lg) {
        background: url(../images/main-header.webp);
        background-repeat: no-repeat;
        background-size: cover;
        aspect-ratio: 192/11;
      }
      .text-mobile {
        display: block;
        text-align: center;
        padding: 14px 15px;
        @media (min-width: $lg) {
          display: none;
        }
        h2 {
          font-size: 16px;
          font-weight: 500;
          letter-spacing: -0.13px;
          line-height: 18px;
          margin: 0 0 4px;
          color: #fff;
        }
        p {
          font-size: 12px;
          letter-spacing: -0.1px;
          line-height: 18px;
          margin: 0 auto;
          max-width: 246px;
          color: #fff;
        }
      }
      .intro-text {
        display: none;
        @media (min-width: $lg) {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 70%;
          height: 100%;
          align-items: center;
          margin: 0 auto;
        }

        .inner-text {
          width: calc(50% - 30px);
          h2 {
            font-size: 22px;
            font-weight: 500;
            letter-spacing: -0.18px;
            line-height: 1;
            color: #fff;
            text-align: center;
          }
          p {
            color: #fff;
            font-size: 16px;
            letter-spacing: -0.13px;
            line-height: 25px;
            max-width: 274px;
          }
        }
      }
    }
    .swiper {
      width: 100%;
      height: 100%;
      .swiper-wrapper {
        .swiper-slide {
          a {
            position: relative;
            .inner-img {
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              position: relative;
              transition: all 0.5s ease-in-out;
              overflow: hidden;
              &:before {
                content: "";
                display: block;
                padding: 100% 0 0 0;
                @media (min-width: $md) {
                  padding: 36.7% 0 0 0;
                }
              }
              &:hover {
                transform: scale(1.02);
                transition: all 0.5s ease-in-out;
              }
            }
          }
        }
      }
    }
    .arrows {
      position: relative;
      width: 100%;
      height: 20px;
      margin: 0 auto;
      background: #c7c8cc;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .main-arrows {
        width: 5%;
        position: relative;
        background: #e3e1d9;
        height: 100%;
        margin: 0 auto;

        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background: #c9ccd5;
        }

        .arr {
          .swiper-button-next,
          .swiper-button-prev {
            position: relative;
            &:after {
              content: none;
            }
            &.right,
            &.left {
              i {
                color: #212c7c;
              }
            }
          }
        }
        .autoplay-progress {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 10;
          width: 48px;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          color: #26307a;
          svg {
            --progress: 0;
            position: absolute;
            left: 0;
            top: 0px;
            z-index: 10;
            width: 100%;
            height: 100%;
            // stroke-width: 4px;
            // stroke: green;
            fill: none;
            stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
            stroke-dasharray: 125.6;
            transform: rotate(-90deg);
          }
        }
      }
      .arr-left,
      .arr-right {
        background: #26307a;
        width: 47.5%;
        height: 100%;
        position: relative;
        top: 0;
        margin: 0;
        right: 0;
        left: 0;
        p {
          color: #fff;
        }
        &.swiper-button-disabled {
          opacity: 0.7;
        }
        &:after {
          content: none;
        }
      }
    }
  }
}
