<div class="market-media">
    <div class="wrap">
        <div class="inner">
            <div class="swiper mediaSwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="media-img" style="background-image: url(images/adi.webp);"></div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <div class="media-img" style="background-image: url(images/new_balance.webp);"></div>
                        </a>

                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <div class="media-img" style="background-image: url(images/nike.webp);"></div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <div class="media-img" style="background-image: url(images/birkenstock-logo.webp);"></div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <div class="media-img" style="background-image: url(images/OnRunning.webp);"></div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <div class="media-img" style="background-image: url(images/office.webp);"></div>
                        </a>
                    </div>
                </div>

            </div>
            <a href="" class="stories">View All</a>
        </div>
    </div>
</div>