<div class="market-sale">
    <div class="wrap">
        <div class="inner-content">
            <div class="inner-items">
                <a href="#">
                    <div class="img-redirect" style="background-image: url(images/WK46.jpeg);">

                    </div>

                </a>
            </div>
            <div class="inner-items">
                <a href="#">
                    <div class="img-redirect" style="background-image: url(images/WK47.webp);">

                    </div>
                </a>
            </div>
            <div class="inner-items">
                <a href="#">
                    <div class="img-redirect" style="background-image: url(images/WK48.webp);">

                    </div>
                </a>
            </div>
        </div>
    </div>


</div>