<div class="market-header">
    <div class="wrap">
        <div class="hero-image">
            <div class="intro-text">
                <div class="inner-text">
                    <h2>Give the gift of shoes</h2>

                </div>
                <div class="inner-text">
                    <p>Choose an OFFICE gift card and never get a present wrong again!</p>

                </div>
            </div>
            <div class="text-mobile">
                <h2>Give the gift of shoes</h2>
                <p>Choose an OFFICE gift card and never get a present wrong again!</p>
            </div>
        </div>

        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">

                    <a href="#">

                        <div class="inner-img d-none d-md-block  d-sm-none"
                            style="background-image: url(images/photo-one.webp);">
                        </div>
                        <div class="inner-img d-md-none d-sm-block"
                            style="background-image: url(images/photo-one-mobile.webp);"></div>
                        <div class="arrows">
                            <div class="arr">
                                <div class="swiper-button-next right"><i class="fa-solid fa-arrow-right"></i></div>
                            </div>
                            <div class="arr">
                                <div class="swiper-button-prev left">
                                    <i class="fa-solid fa-arrow-left"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <div class="inner-img d-none d-md-block  d-sm-none"
                            style="background-image: url(images/photo-two.webp);">

                        </div>
                        <div class="inner-img d-md-none d-sm-block"
                            style="background-image: url(images/photo-two-mobile.webp);"></div>

                    </a>


                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <div class="inner-img d-none d-md-block  d-sm-none"
                            style="background-image: url(images/photo-three.webp);">

                        </div>
                        <div class="inner-img d-md-none d-sm-block"
                            style="background-image: url(images/photo-three-mobile.webp);"></div>


                    </a>

                </div>

            </div>
            <!-- <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div> -->
            <!-- <div class="swiper-pagination"></div> -->
            <div class="autoplay-progress">
                <svg viewBox="0 0 48 48">
                    <circle cx="24" cy="24" r="20"></circle>
                </svg>
                <span></span>
            </div>
        </div>

    </div>





</div>