<div class="market-footer-desktop">
    <div class="wrap">
        <div class="inner">
            <div class="text-footer">
                <p>Shop with us</p>

            </div>
            <div class="footer-desktop">
                <div class="items">
                    <p>
                        asda
                    </p>
                </div>
                <div class="items">
                    <p>
                        asda
                    </p>
                </div>
                <div class="items">
                    <p>
                        asda
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>