<div class="market-place">
    <div class="wrap">
        <div class="inner">

            <div class="text-information">
                <ul>
                    <li>
                        <h2>Discounts</h2>
                    </li>
                </ul>
            </div>

            <div class="market-discounts">
                <ul>
                    <li>
                        <a href="">10% Discount for Blue Light Card Holders</a>
                        <p>
                            Get 10% off all orders & Free UK Standard delivery on all orders over £70. * Exclusions
                            apply, see T&C's.
                            <span>Read More</span>
                        </p>

                    </li>
                    <li>
                        <a href="">Free UK Standard Delivery</a>
                        <p>On all orders when you spend over £70. *Exclusions Apply<span>Read More</span></p>
                    </li>
                    <li>
                        <a href="">10% Student Discount*</a>
                        <p>
                            10% off with UNiDAYS & Free UK Standard delivery on all orders over £70. *Exclusions
                            apply, see T&C's.
                            <span>Read More</span>
                        </p>
                    </li>
                </ul>



                <div class="swiper swiperDiscounts">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="info-card">
                                <a href="">10% Discount for Blue Light Card Holders</a>
                                <p>
                                    Get 10% off all orders & Free UK Standard delivery on all orders over £70. *
                                    Exclusions
                                    apply, see T&C's.
                                    <span>Read More</span>
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="info-card">
                                <a href="">Free UK Standard Delivery</a>
                                <p>On all orders when you spend over £70. *Exclusions Apply.<span>Read More</span></p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="info-card">
                                <a href="">10% Student Discount*</a>
                                <p>
                                    10% off with UNiDAYS & Free UK Standard delivery on all orders over £70. *Exclusions
                                    apply, see T&C's.
                                    <span>Read More</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="test">
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>