<div class="market-shop">
    <div class="wrap">
        <div class="inner">
            <div class="shop">
                <div class="items">
                    <a href="#">
                        <div class="image-shop">
                            <img src="images/shop1.jpeg" alt="shop" class="img-fluid">
                            <div class="overlay">
                                <p>Shop</p>
                            </div>
                        </div>
                        <div class="items-about">
                            <p>Shop VEJA</p>
                        </div>
                    </a>
                </div>

                <div class="items">
                    <a href="#">
                        <div class="image-shop">
                            <img src="images/shop2.jpeg" alt="shop" class="img-fluid">
                            <div class="overlay">
                                <p>Shop</p>
                            </div>
                        </div>
                        <div class="items-about">
                            <p>Shop Dr. Martens</p>
                        </div>
                    </a>
                </div>

                <div class="items">

                    <a href="#">
                        <div class="image-shop">
                            <img src="images/shop3.jpeg" alt="shop" class="img-fluid">
                            <div class="overlay">
                                <p>Shop</p>
                            </div>
                        </div>
                        <div class="items-about">
                            <p>Shop Adidas</p>
                        </div>
                    </a>
                </div>
                <div class="items">

                    <a href="#">
                        <div class="image-shop">
                            <img src="images/shop4.jpeg" alt="shop" class="img-fluid">
                            <div class="overlay">
                                <p>Shop</p>
                            </div>
                        </div>
                        <div class="items-about">
                            <p>Shop Kids</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>