<div class="market-footer-desktop">
    <div class="wrap">
        <div class="inner">
            <div class="text-footer">
                <a href=""><span>Get in touch with us</span></a>

            </div>
            <div class="footer-desktop">
                <div class="items">
                    <ul>
                        <li>
                            <h4>Help & Info</h4>
                        </li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Delivery & Returns</a></li>
                        <li><a href="#">Find a Store</a></li>
                        <li><a href="#">Gift Card</a></li>
                        <li><a href="#">Blue Light Card</a></li>
                    </ul>
                </div>
                <div class="items">
                    <ul>
                        <li>
                            <h4>About</h4>
                        </li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Join</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Gift Card</a></li>
                        <li><a href="#">Blue Light Card</a></li>
                    </ul>
                </div>
                <div class="items">

                    <div class="content">
                        <ul>
                            <li>
                                <h4>Shop</h4>
                            </li>
                            <li><a href="#">Offspring</a></li>
                            <li><a href="#">Outlet</a></li>

                        </ul>
                    </div>
                    <div class="content">
                        <div class="drop-content">
                            <a href="#" class="currency"><span>CURRENCY </span> <i class="fa-solid fa-coins"></i></a>
                            <div class="list-drop">
                                <ul>
                                    <li><a href="">sad</a></li>
                                    <li><a href="">sad</a></li>
                                    <li><a href="">sad</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>