<div class="market-sale">
    <div class="wrap">
        <div class="inner-content">
            <div class="inner-items">
                <a href="#">
                    <div class="img-redirect" style="background-image: url(images/WK46.jpeg);">

                    </div>


                    <div class="description">
                        <h4>Clouorpop Cool</h4>
                        <p>Shop Adidas</p>
                    </div>

                </a>
            </div>
            <div class="inner-items">
                <a href="#">
                    <div class="img-redirect" style="background-image: url(images/WK47.webp);">

                    </div>
                    <div class="description">
                        <h4>The Sun is Calling</h4>
                        <p>Shop Birkenstock</p>
                    </div>
                </a>
            </div>
            <div class="inner-items">
                <a href="#">
                    <div class="img-redirect" style="background-image: url(images/WK48.webp);">

                    </div>
                    <div class="description">
                        <h4>In Our Espadrille Era</h4>
                        <p>Shop Sandals</p>
                    </div>
                </a>
            </div>
        </div>
    </div>


</div>