<div class="market-media">
    <div class="wrap">
        <div class="inner">
            <div class="swiper mediaSwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="images/nike.webp" alt="nike" class="img-fluid">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/OnRunning.webp" alt="nike" class="img-fluid">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/office.webp" alt="nike" class="img-fluid">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/birkenstock-logo.webp" alt="nike" class="img-fluid">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/new_balance.webp" alt="nike" class="img-fluid">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/adi.webp" alt="nike" class="img-fluid">
                    </div>

                </div>

            </div>
            <a href="" class="stories">View All</a>
        </div>
    </div>

</div>