<div class="market-navbar">
    <header>
        <div class="main-heading">
            <div class="header-left">
                <ul>
                    <li>
                        <a href="#!">new in</a>

                        <div class="mega-menu">
                            <div class="inside">
                                <div class="general-items">
                                    <div class="items">
                                        <div class="small">
                                            <p>new in</p>
                                            <ul>
                                                <li><a href="">All new in</a></li>
                                                <li><a href="">Bestsellers</a></li>
                                                <li><a href="">Women's</a></li>
                                                <li><a href="">Men's</a></li>
                                                <li><a href="">Trainers</a></li>
                                                <li><a href="">Kids</a></li>
                                            </ul>
                                        </div>
                                        <div class="small">
                                            <p></p>
                                        </div>
                                        <div class="small">
                                            <p>category</p>
                                        </div>
                                        <div class="small">
                                            <p>trending</p>
                                        </div>

                                    </div>
                                    <div class="items">
                                        <p>shop clogs</p>
                                        <img src="images/dropdown_hers.webp" alt="dropdown_hers" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </li>
                    <li>
                        <a href="">women</a>
                        <div class="mega-menu">
                            <div class="inside">
                                <div class="general-items">
                                    <div class="items">
                                        <div class="small">
                                            <p>Category</p>
                                            <ul>
                                                <li><a href="">New in</a></li>
                                                <li><a href="">All Women's shoes</a></li>
                                                <li><a href="" class="small-title">Trainers</a></li>
                                                <li><a href="">White Trainers</a></li>
                                                <li><a href="">Black Trainers</a></li>
                                                <li><a href="">Platform Trainers</a></li>

                                            </ul>

                                        </div>
                                        <div class="small">
                                            <p></p>
                                            <ul>

                                                <li><a href="" class="small-title">Heels</a></li>
                                                <li><a href="">High Heels</a></li>
                                                <li><a href="">Mid Heels</a></li>
                                                <li><a href="">Platform Trainers</a></li>
                                                <li><a href="">Wedges</a></li>

                                                <li><a href="" class="small-title">Boots</a></li>
                                                <li><a href="">High Heels</a></li>
                                                <li><a href="">Mid Heels</a></li>
                                                <li><a href="">Platform Trainers</a></li>
                                                <li><a href="">Wedges</a></li>
                                            </ul>
                                        </div>
                                        <div class="small">
                                            <p>Brands</p>
                                        </div>
                                        <div class="small">
                                            <p>trending</p>
                                        </div>

                                    </div>
                                    <div class="items">
                                        <p>Shop Dr Martens</p>
                                        <img src="images/DropDown_Hers_2.webp" alt="dropdown_hers" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="">men</a>
                        <div class="mega-menu">
                            <div class="inside">
                                <div class="general-items">
                                    <div class="items">
                                        <div class="small">
                                            <p>Category</p>
                                            <ul>
                                                <li><a href="">New in</a></li>
                                                <li><a href="">All Men's Shoes</a></li>
                                                <li><a href="">test</a></li>
                                            </ul>
                                        </div>
                                        <div class="small">
                                            <p></p>
                                        </div>
                                        <div class="small">
                                            <p>category</p>
                                        </div>
                                        <div class="small">
                                            <p>trending</p>
                                        </div>

                                    </div>
                                    <div class="items">
                                        <p>Shop BIRKENSTOCK</p>
                                        <img src="images/DropDown_His.webp" alt="dropdown_his" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="">trainers</a>
                        <div class="mega-menu">
                            <div class="inside">
                                <div class="general-items">
                                    <div class="items">
                                        <div class="small">
                                            <p>Brands</p>
                                            <ul>
                                                <li><a href="">asd</a></li>
                                                <li><a href="">asd</a></li>
                                                <li><a href="">test</a></li>
                                            </ul>
                                        </div>
                                        <div class="small">
                                            <p>Trending</p>
                                            <ul>
                                                <li><a href="">Adidas SL 72</a></li>
                                                <li><a href="">asd</a></li>
                                                <li><a href="">test</a></li>
                                            </ul>
                                        </div>
                                        <div class="small">
                                            <p>category</p>
                                        </div>
                                        <div class="small">
                                            <p>trending</p>
                                        </div>

                                    </div>
                                    <div class="items">
                                        <p>shop clogs</p>
                                        <img src="images/DropDown_Sports.webp" alt="dropdown_sports" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="">kids</a></li>
                    <li><a href="">gifting</a></li>
                    <li><a href="">brands</a></li>
                    <li><a href="">sale</a></li>
                </ul>
            </div>
            <div class="main-logo">
                <a href="#!">
                    <img src="images/office-logo.svg" alt="" class="img-fluid">
                </a>
            </div>
            <div class="header-right">
                <div class="search">


                    <div class="icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>

                    <input type="text" name="search-input" placeholder="Search for products and brands...">



                </div>
                <div class="login">
                    <a href=""><i class="fa-regular fa-user"></i></a>
                    <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
                    <a href=""><i class="fa-regular fa-bookmark"></i></a>
                    <a class="hamburger-menu d-lg-none d-md-block"><i class="fa-solid fa-bars"></i></a>

                </div>
            </div>
            <div class="sidebar">
                <div class="content-sidebar">
                    <div class="siderbar-items">
                        <div class="accordion-main" id="accordionMainWithFlush">
                            <div class="item-accordion">

                                <button class="main-button collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne">
                                    <span>Just landed</span>
                                    <div class="lines">
                                        <span></span>
                                    </div>
                                </button>

                                <div id="collapseOne" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionMainWithFlush">
                                    <div class="body-item">Placeholder content for this accordion, which is
                                        intended to
                                        demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                        accordion body.</div>
                                </div>
                            </div>
                            <div class="item-accordion">

                                <button class="main-button collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo">
                                    <span>Last offers</span>
                                    <div class="lines">
                                        <span></span>
                                    </div>
                                </button>

                                <div id="collapseTwo" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionMainWithFlush">
                                    <div class="body-item">Placeholder content for this accordion, which is
                                        intended to
                                        demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                        accordion body.</div>
                                </div>
                            </div>
                            <div class="item-accordion">

                                <button class="main-button collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree">
                                    <span>Contact Us</span>
                                    <div class="lines">
                                        <span></span>
                                    </div>
                                </button>

                                <div id="collapseThree" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionMainWithFlush">
                                    <div class="body-item">Placeholder content for this accordion, which is
                                        intended to
                                        demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                        accordion body.</div>
                                </div>
                            </div>

                        </div>
                        <div class="photo-items">
                            <div class="inner-photo">
                                <img src="images/dropdown_hers.webp" alt="" class="img-fluid">
                            </div>
                            <div class="inner-photo">
                                <img src="images/dropdown_hers.webp" alt="" class="img-fluid">
                            </div>
                            <div class="arrow"></div>
                        </div>
                    </div>

                    <div class="siderbar-items">
                        <h3>asdasddsa</h3>
                    </div>
                </div>
            </div>

            <div class="overlay-opacity"></div>
        </div>
    </header>
</div>