{% extends "partials/layout.html" %}

{% block content %}
<!-- Site Header -->
{% include "partials/market-home/market-navbar.html" %}
{% include "partials/market-home/market-search-mobile.html" %}
{% include "partials/market-home/market-header.html" %}

{% include "partials/market-home/market-sale.html" %}

{% include "partials/market-home/market-shop.html" %}
{% include "partials/market-home/market-media.html" %}
{% include "partials/market-home/market-place.html" %}
{% include "partials/market-home/market-footer.html" %}



{% endblock %}